html{
    height: 100%;
    background-image: url("/back.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    color: white;
}
body{
    background-color: transparent!important;
}
.main{
    padding: 0;
    background-color: transparent!important;
}
.main .titleout{
    background: #eeeeee;
    opacity: 0.5;
    margin: 0 auto;
    margin-top: 240px;
    height: 150px;
    padding: 10px 30px 10px 30px;
}
.main .title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 240px;
    padding: 10px 30px 10px 30px;
    width: fit-content;
}
.title h1{
    font-size: 80px;
    color: #404040;
    text-shadow: -3px 2px 5px #555555;
    text-align: center;
}
.title p{
    font-size: 18px;
    color: #888888;
    text-align: center;
}
#button{
    margin-top: 100px;
}
button{
    background: #eeeeee;
    border-radius: 5px;
    border: 2px solid #404040;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
button:hover{
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    transition: 0.3s ease;
}
@media (max-width: 550px) {
    .main .title{
        top: 270px;
    }
    .title h1{
        font-size: 40px;
    }
}
.goto{
    position: fixed;
    bottom: 100px;
    right: 30px;
    background: crimson;
    color: #eeeeee;
    padding: 5px 10px 5px 10px;
}
.goto:hover,.about:hover{
    color: #eeeeee;
    text-decoration: none;
}
.about{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background: cornflowerblue;
    color: #eeeeee;
    padding: 5px 10px 5px 10px;
}