body{
    background: #ffffff;
    font-family: 'Microsoft YaHei UI','Helvetica Neue','Segoe UI',sans-serif;
}
.title{
    display: block;
    text-shadow: -3px 2px 3px #404040;
    font-family: "Consolas",sans-serif;
    background: #808080;
    font-size: 25px;
    color: white;
    width: 100%;
    padding: 10px 10px 10px 10px;
}
.title:hover{
    text-decoration: none;
    color: white;
}
.form{
    margin-top: 30px;
}
input#title{
    background: #eeeeee;
    border-radius: 5px;
    border: 1px solid #404040;
    outline: none;
}
input#photo{
    position: absolute;
    width: 120px;
    height: 30px;
    border-radius: 20px;
    background: #eeeeee;
    opacity: 0;
    right: 0;
    top: 0;
    cursor: pointer;
    filter: alpha(opacity=0);
}
.file{
    background: #378de5;
    margin-bottom: 15px;
    color: white!important;
    position: relative;
    width: 120px;
    height: 32px;
    line-height: 32px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    display: inline-block;
}
.file:hover{
    background: #2a8fbd;
    transition: 0.3s ease;
}
input#submit{
    background: #eeeeee;
    width: 120px;
    padding: 4px 0 4px 0;
    border-radius: 20px;
    border: none;
}
input#submit:hover{
    background: #222222;
    color: #fff;
    transition: 0.3s ease;
}
.count{
    margin: 0 auto;
    margin-top: 10px;
    width: fit-content;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    background: #404040;
    color: white;
}
.row{
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}
.row .img {
    margin-bottom: 10px;
    border: 1px solid #4d4d4d;
    height: 200px;
    margin-left: -1px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
#namelist pre{
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    background: #f0f0f0;
}